name: Lint & Template

on:
  pull_request:
    paths:
      - "charts/opencti/**"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install Helm
        uses: azure/setup-helm@b9e51907a09c216f16ebe8536097933489208112 # v4.3.0

      - name: Lint
        run: |
          cd charts
          helm dependency build opencti
          helm lint opencti

      - name: Template (default values)
        run: |
          cd charts
          helm template test opencti --set server.adminToken=test-token
